body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #151531;
  color: white;
}

header {
  background-color: #dddbff;
  padding: 15px 0;
  border-bottom: 1px solid #151531;

  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-circle {
  background-color: #151531;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.brand-text h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #151531;
}

.brand-text p {
  font-size: 0.85rem;
  margin: 0;
  color: #151531;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #151531;
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #443dff;
}
main {
  padding: 0px;
}

section {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #2f27ce;
}

.hero {
  background: linear-gradient(to right, #151531, #2f27ce);
  padding: 70px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  gap: 60px;
}

.hero-text {
  text-align: left;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.hero-text h2 {
  font-size: 1.5rem;
  color: #ddddff;
  margin-bottom: 20px;
}

.hero-subtext {
  line-height: 1.6;
  color: #ddddff;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.hero-image img {
  width: 260px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2f27ce;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 20px;
}

.btn:hover {
  background-color: #151531;
}
#about {
  padding: 10px 80px;
  background-color: #151531;
}

.about-container {
  max-width: 200px;
  margin: auto;
}

.about-card {
  background-color: #dddbff;
  padding: 50px 60px;
  border-radius: 16px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: #151531;

  margin: auto;
}

#about h2 {
  font-size: 2.2rem;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: bold;
}

.projects-section {
  background-color: #151531;
  padding: 20px 80px;
}

.projects-container {
  margin: auto;
  background-color: #dddbff;
  border-radius: 16px;
  padding: 40px 50px;
}

.projects-container h2 {
  font-size: 1.6rem;
  color: #151531;
  margin-top: 0;
  margin-bottom: 6px;
  text-align: left;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*--text: #ffffff;
  --background: #151531;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;*/
