body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #151531;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2f27ce;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #443dff;
  padding: 10px;
  gap: 100px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

nav a:hover {
  color: #ddddff;
  background-color: #2f27ce;
  border-radius: 5px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #2f27ce;
}
.hero {
  text-align: center;
}
